<html lang="en">
  <head>
    <link rel="stylesheet" href="stylesheets/style.css" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cache Food Decisions</title>
  </head>
  <body>

    <nav>
      <H1>Cache Food Decisions</H1>
      <div>
        <a href="/">Home</a>
        <a href="/login">Login</a>
        <a href="/logout">Logout</a>
        <a href="/signup">Sign Up</a>
      </div>
    </nav>
    {{{body}}}

    <script src="javascript/index.js"></script>
  </body>
</html>