<!DOCTYPE html>
<html lang="en">

  <head>
    <link rel="stylesheet" href="stylesheets/style.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cache Food Decisions</title>
  </head>

  <body>

  <nav class="navbar justify-content-center bg-light fixed-top">

  <div class="container-fluid">
    <div class="d-flex justify-content-center">
      {{#if loggedIn}}
      <a class="navbar-brand justify-content-center" href="/homepage">
        <img src="/images/grocery-bag.jpg" alt="" width="30" height="24" class="d-inline-block align-text-top">
        Cache Food Decisions
      </a>
      {{else}}
      <a class="navbar-brand justify-content-center" href="/login">
        <img src="/images/grocery-bag.jpg" alt="" width="30" height="24" class="d-inline-block align-text-top">
        Cache Food Decisions
      </a>
      {{/if}}
    </div>

    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>

      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          {{#if loggedIn}}
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/homepage">Home</a>
          </li>
          <li class="nav-item">
            <button id="logout" class="btn-no-style">Logout</button>
          </li>
          {{else}}
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/login">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/signup">Sign Up!</a>
          </li>
          {{/if}}
        </ul>
      </div>
    </div>
  </div>

  </nav>

    {{{body}}}

    <script src="javascript/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
  </body>
</html>