<div class="row row-cols-1 row-cols-md-4 g-4">
{{#each recipes as |item|}}
<div class="col">
  <div class="card">
    <img src="{{item.image}}" class="card-img-top" />
    <div class="card-body">
      <h5 class="card-title">{{item.title}}</h5>
    </div>
    <button
      type="button"
      class="btn btn-primary recipe"
      id={{item.id}}
      onclick="addToList(this.id)"
    >
      Add Recipe
    </button>
  </div>
  </div>
{{/each}}
</div>

<nav class="navbar fixed-bottom" id="recipe-buttons">
<div class="container-fluid">
  <a href="/dashboard"><input
      class="btn btn-primary"
      type="submit"
      value="Back to User Preferences"
    /></a>
  <a href="/recipes"><button
      type="button"
      class="btn btn-primary"
      id="recipeSearch"
    >
      Get Recipes
    </button>
  </a>
  <button href="/shoppingList"><input
      class="btn btn-primary"
      type="submit"
      id="postRecipe"
      value="Take Me To My Shopping List"
    /></button>
</div>
</nav>

<script type="module" src="/javascript/recipe.js"></script>
<script src="/javascript/recipe2.js"></script>