<a id="search"></a>
<div>
  <a href="/dashboard"><input
      class="btn btn-primary"
      type="submit"
      value="Back to User Preferences"
    /></a>
  <a href="/recipes"><button
      type="button"
      class="btn btn-primary"
      id="recipeSearch"
    >
      Get Recipes
    </button>
  </a>
  <button href="/shoppingList"><input
      class="btn btn-primary"
      type="submit"
      id="postRecipe"
      value="Take Me To My Shopping List"
    /></button>
</div>

{{#each recipes as |item|}}
  <div class="card" style="width: 18rem;">
    <img src="{{item.image}}" class="card-img-top" />
    <div class="card-body">
      <h5 class="card-title">{{item.title}}</h5>
    </div>
    <a
      href="#"
      class="btn btn-primary"
      id={{item.id}}
      onclick="addToList(this.id)"
    >Add this Recipe</a>
  </div>
{{/each}}
<script type="module" src="/javascript/recipe.js"></script>