<h1 class = "signup-h1">Signup</h1>

<div class="signup">
  <label for="username">Username</label>
  <input id="username" type="text" />
  <label for="password">Password</label>
  <input id="password" type="password" />
  <label for="email">Email</label>
  <input id="email" type="email" />
</div>
