:root {
    --primary: #05204A;
    --secondary: #80A4ED;
    --tertiary: #FE5F55;
    --quatrinary: #FFE15C;
    --light: #BCD3F2;
  }

body {
    background-image: url("/images/Kitchen-background.jpg");
    background-size: cover;
}

#main-nav {
    background-color: var(--primary);
}

#nav-text {
    color: white;
    justify-content: center;
}

#menu-options {
    color: var(--primary);
}

/* #login-card {

} */