:root {
  --primary: #05204a;
  --secondary: #80a4ed;
  --tertiary: #fe5f55;
  --quatrinary: #ffe15c;
  --light: #bcd3f2;
}

body {
  background-image: url("/images/Kitchen-background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#main-nav {
  background-color: var(--primary);
}

#nav-text {
  color: white;
  justify-content: center;
}

#menu-options {
  color: var(--primary);
}

.int {
  margin: 4px;
}

.cuisine {
  margin: 4px;
}

#dashboard-card {
  position: absolute;
  top: 40%;
  left: 34%;
}

#recipe-buttons {
  display: flex;
  justify-content: center;
  background-color: var(--quatrinary);
}

.card-group {
  position: absolute;
  top: 30%;
  left: 14%;
}

.btn {
  --bs-btn-active-color: --quatrinary;
}

.recnew {
  margin: 4px;
}